.auth-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000000;

  .notices {
    margin: 0 0 20px;
  }
}

.auth-form-title {
  h1 {
    line-height: 1;
  }
}

.auth-form {
  max-width: 480px;
  width: 100%;
  background-color: #ffffff;
  padding: 20px;

  .input-wrapper {
    display: grid;
    gap: 10px;
  }

  .form-inputs {
    display: grid;
    gap: 20px;
  }
}
