@use './variables' as *;

.button {
  cursor: pointer;
  padding: 0 15px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  line-height: 44px;
  transition: all 300ms ease-in-out;
  display: inline-block;
  text-decoration: none;

  &.reversed {
    background-color: #ffffff;
    color: #000000;

    &:hover {
      background-color: #dee6ff;
    }
  }

  &.small {
    line-height: 24px;
  }

  &:hover {
    color: #27eb02;
  }

  &:disabled {
    background-color: #575d71;
  }

  &.full-width {
    width: 100%;
  }
}

.link {
  text-decoration: none;
  color: #343f65;

  &:hover {
    text-decoration: underline;
  }
}

input[type="text"],
input[type="password"],
input[type="number"],
select {
  width: 100%;
  padding: 0 10px;
  line-height: 38px;
  height: 40px;
  border: solid 1px #cccccc;
  color: #333333;

  &:disabled {
    cursor: not-allowed;
  }
}

textarea {
  width: 100%;
  min-height: 100px;
  border: solid 1px #cccccc;
  color: #333333;
  display: block;
  resize: vertical;
  padding: 10px;
}

.error {
  color: #e74c3c;
}

.checkbox-wrapper {
  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .text {
    margin: 0 0 0 10px;
  }
}

.radio-wrapper {
  .label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }

  .text {
    margin: 0 0 0 10px;
  }

  &.inline {
    display: flex;
    gap: 15px;
  }

  input {
    cursor: pointer;
  }
}

.has-error {
  .selected-value {
    border-color: #e74c3c;
  }
}

.rtl {
  .checkbox-wrapper {
    .text {
      margin: 0 10px 0 0;
    }
  }

  .radio-wrapper {
    .text {
      margin: 0 10px 0 0;
    }
  }
}
